.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.product-image {
  width: 30vh;
  max-height: 40vh;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue-section {
  background-color: #d6e6ff;
  width: 100%;
  height: 70vh;
}

.white-section {
  background-color: white;
  width: 100%;
  height: 30vh;
}

.container {
  padding: 0 40px;
  background-color: white;
  position: absolute; /* Untuk menempatkan container di tengah */
  width: 80%; /* Atau lebar yang Anda inginkan */
  border: 1px; /* Border untuk container */
  border-radius: 12px;
  display: flex;
  grid-template-columns: auto auto auto;
  gap: 20px;
  height: 70vh;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image {
  grid-column: span 1;
}
.product-menu {
  display: flex;
  flex-direction: column; /* Atur ini untuk mengatur item-item secara vertikal */
  justify-content: center; /* Pusatkan konten secara vertikal */
  align-items: start; /* Pusatkan konten secara horizontal */
  height: 40vh;
  text-align: start;
  background: white;
}
.title {
  color: #002772;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.categories {
  color: #3F3F3F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rate{
  color: #3F3F3F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card h3 {
  color: #002772;
}
hr {
  width: 100%;
  color: #dcdcdc;
}
.rating {
  display: flex;
  align-items: center;
}
.dot-rating {
  display: flex;
  gap: 4px;
}
.description{
  color: #1E1E1E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dot {
  height: 25px;
  width: 25px;
  border: 2px solid #002772;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.dot.active {
  background-color: #002772;
}
.top-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.price{
  color: #002772;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.buy {
  background-color: #002772;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

.product-button {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.next {
  background-color: white;
  border: 2px solid #002772;
  color: #002772;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}
